.lz-sider-conditions{
    padding:10px 0;
    padding-top:0;
  }
  .lz-sider-conditions .condition+.condition{
    margin-left: 15px;
  }
  .lz-sider-conditions .condition-title {
    color:#fff;
    font-size: 13px;
  }
  
  .lz-sider-conditions .el-input__inner{
    background-color: transparent;
    border-color:#324E5C;
    border-radius: 2px;
    padding:0 7px;
    height:27px;
    line-height: 27px;
    color:#fff;
  }
  .lz-sider-conditions .el-range-input{
    color:#fff;
    background-color:transparent;
  }
  .lz-sider-conditions .el-date-editor .el-range-separator{
    color:#fff;
    line-height: 20px;
  }
  .lz-sider-conditions .el-date-editor .el-range-input{
    width:45%;
  }
  .lz-sider-conditions .el-range__close-icon{
    position: absolute;
    right:0;
  }
  .lz-sider-conditions .el-date-editor:hover .el-range__close-icon{
    background-color:#043A46;
  }
  
  .lz-sider-conditions .el-input__inner:focus,
  .lz-sider-conditions .el-input__inner:hover,
  .lz-sider-conditions .el-select:hover .el-input__inner,
  .lz-sider-conditions .el-select .el-input.is-focus .el-input__inner{
    border-color:#307a7a;
  }
  
  .lz-sider-conditions .el-icon-search{
    position: relative;
    left:13px;
    top:2px;
    color:#5AFAEA;
    font-size:20px;
    cursor: pointer;
  }
  .lz-sider-conditions .el-icon-search:active{
    transform: scale(.9);
    transition-duration: .15s;
    color:rgb(91, 236, 222);
  }
  .lz-sider-conditions.condition-select{
    background: hsla(178, 44%, 44%,.9);
    border:none;
    box-shadow: 0 0 2px #bdafafe6;
    color:#fff;
  }
  .lz-sider-conditions.condition-select.condition-select.el-popper[x-placement^=bottom] .popper__arrow{
    border-bottom-color:hsla(191, 87%, 15%,.3);
  }
  .lz-sider-conditions.condition-select.condition-select.el-popper[x-placement^=bottom] .popper__arrow::after{
    border-bottom:none;
  }
  .lz-sider-conditions.condition-select::before{
    content: ''; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    pointer-events: none;
  }
  .lz-sider-conditions.condition-select .el-select-dropdown__empty{
    color:#fff;
  }
  .lz-sider-conditions.condition-select .el-select-dropdown__item{
    color:#fff;
  }
  .lz-sider-conditions.condition-select .el-select-dropdown__item.hover, 
  .lz-sider-conditions.condition-select .el-select-dropdown__item:hover{
    background-color:rgba(48, 122, 122,.7);
  }
  .lz-sider-conditions .el-date-editor .el-range__icon{
    display: none;
  }